@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  --background-color: rgb(15, 14, 14);
  --black-color: #3333;
  --white-color: #fff;
  --orange-color: #ff6a00;
  --blue-color: #0d1117;
  --card-color: #303d57;

  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;

  --biggest-font-size: 2.3rem;
  --h1-font-size: 1.8rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-black: 900;

  /*========== Margenes Bottom ==========*/
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: var(--blue-color);
  font-family: var(--body-font);
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: var(--orange-color);
}

::-webkit-scrollbar {
  width: 10px;
  background-color: var(--white-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
}

/* CONFIG */
h1,
h2,
h3,
h4 {
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button,
input {
  border: none;
  outline: none;
}

/* GLOBAL */
.container {
  max-width: 1268px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.section {
  padding: 4.5rem 0 2rem;

  &__title {
    position: relative;
    text-align: center;
    margin-bottom: 3rem;

    &::before {
      content: "";
      position: absolute;
      width: 14px;
      height: 14px;
      left: calc(50% - 7px);
      bottom: -16px;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      border: 3px solid var(--orange-color);
    }

    & h2 {
      font-size: var(--h1-font-size) !important;
      text-transform: uppercase;

      &::before {
        content: "";
        position: absolute;
        width: 30px;
        height: 3px;
        left: calc(50% - 45px);
        bottom: -10px;
        background-color: var(--orange-color);
      }

      &:after {
        content: "";
        position: absolute;
        width: 30px;
        height: 3px;
        left: calc(50% + 15px);
        bottom: -10px;
        background-color: var(--orange-color);
      }
    }
  }
}

/* Show Scroll Up*/
.scrollup {
  position: fixed;
  background: var(--card-color);
  right: 1rem;
  bottom: -20%;
  display: inline-flex;
  padding: 0.3rem;
  border-radius: 0.25rem;
  z-index: var(--z-tooltip);
  opacity: 0.8;
  transition: 0.4s;

  &:hover {
    background-color: var(--orange-color);
    opacity: 1;
  }

  &__icon {
    font-size: 1.25rem;
    color: var(--white-color);
  }
}

.show-scroll {
  bottom: 3rem;
}

/* BUTTON */
.button {
  position: relative;
  padding: 0.4em 1.75em;
  background-color: transparent !important;
  border-radius: 6px;
  border: 0.3px solid var(--white-color);
  transition: 0.5s;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  font-weight: 300;
  font-size: 17px;
  text-transform: uppercase;
  color: var(--white-color);

  &::after,
  &::before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    transform: skew(90deg) translate(-50%, -50%);
    position: absolute;
    inset: 50%;
    left: 25%;
    z-index: -1;
    transition: 0.5s ease-out;
    background-color: var(--orange-color);
  }

  &::before {
    top: -50%;
    left: -25%;
    transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
  }

  &:hover::before {
    transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
  }

  &:hover::after {
    transform: skew(45deg) translate(-50%, -50%);
  }

  &:hover {
    color: var(--white-color);
    border: 0.3px solid var(--orange-color);
  }

  &:active {
    filter: brightness(0.7);
    transform: scale(0.98);
  }
}

/* HEADER */
.header {
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.3s ease-in-out;
  z-index: var(--z-fixed);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-weight: var(--font-medium);

    &-img {
      width: 4rem;
    }
  }

  &__link,
  &__logo,
  &__toggle,
  &__close {
    color: var(--white-color);
  }

  &__toggle {
    font-size: 1.25rem;
    cursor: pointer;
  }

  &__menu {
    @media only screen and (max-width: 767px) {
      position: fixed;
      width: 100%;
      background: black;
      top: -150%;
      left: 0;
      padding: 3.5rem 0;
      transition: 0.4s;
      z-index: var(--z-fixed);
      border-radius: 0 0 1.5rem 1.5rem;
    }
  }

  &__img {
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__close {
    font-size: 1.8rem;
    position: absolute;
    top: 0.5rem;
    right: 0.7rem;
    cursor: pointer;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
  }

  &__link {
    text-transform: uppercase;
    font-weight: var(--font-black);
    transition: 0.4s;

    &:hover {
      color: var(--orange-color);
    }

    &--active {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        bottom: -0.75rem;
        left: 45%;
        width: 5px;
        height: 5px;
        background-color: var(--orange-color);
        border-radius: 50%;
      }
    }
  }
}

.show-menu {
  top: 0;
}

.scroll-header {
  background: rgba(0, 0, 0, 0.8);
}

/* HOME */
.home {
  position: relative;
  background-image: url(../img/background.webp);
  background-color: rgba(0, 0, 0, 0.6);
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-blend-mode: soft-light;
  height: 100vh;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background: linear-gradient(transparent, #000);
    pointer-events: none;
  }

  &__banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;

    & h3 {
      font-size: 50px;
      color: var(--white-color);
      margin: 0 0 40px 0;
    }

    & span {
      display: block;
      margin: auto;
      white-space: nowrap;
      border-right: 4px solid var(--orange-color);
      color: var(--white-color);
      font-size: 2em;
      width: 14ch;
      animation: typing 3s steps(12) infinite, blink 0.5s infinite step-end alternate;
      overflow: hidden;
    }

    & a {
      display: inline-block;
      margin-top: 50px;
      text-decoration: none;
      color: var(--white-color);
      background: var(--orange-color);
      padding: 10px 30px;
      font-size: 20px;
      text-transform: uppercase;
      letter-spacing: 3px;
    }
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/*=============== ABOUT ===============*/
.about {
  &__container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
  }

  &__box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 350px;
    height: auto;
    padding: 25px 20px;
    background: rgba(48, 61, 87, 0.05);
    box-shadow: 0 15px 35px rgba(51, 50, 50, 0.8);
    backdrop-filter: blur(15px);
    transition: 0.5s ease-in-out;
    border-radius: 10px;

    &:hover {
      transform: translateY(-10px);
    }

    &-content {
      & i {
        font-size: 5em;
        color: var(--orange-color);
        margin-bottom: 10px;
      }

      & h2 {
        margin-bottom: 10px;
        transition: 0.5s ease-in-out;
      }

      & p {
        color: #bbc1d4;
      }
    }

    &:hover &-content h2 {
      color: var(--orange-color);
    }
  }
}

/*=============== BANNER ===============*/
.banner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 100%;
  height: 350px;
  margin: 100px 0 0;
  padding: 0 20px;
  background-image: url(../img/banner.jpeg);
  background-color: rgba(0, 0, 0, 0.6);
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-blend-mode: soft-light;

  & h3 {
    font-size: 35px;
    color: var(--white-color);
  }

  & p {
    font-size: 17px;
    color: var(--white-color);
  }
}

/*=============== LINKS ===============*/
.links {
  &__container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  &__box {
    width: 320px;
    margin: 20px;
    padding: 40px 30px;
    background: rgba(48, 61, 87, 0.05);
    border-radius: 40px;
    box-shadow: -6px -6px 20px #293449, 6px 6px 20px #293244;
    transition: 0.4s ease-in;

    &:hover {
      box-shadow: inset -6px -6px 20px #2e3a52, inset 6px 6px 20px rgba(0, 0, 0, 0.05);
    }

    &-icon {
      text-align: center;

      & i {
        color: var(--orange-color);
        font-size: 50px;
      }
    }

    &-content {
      position: relative;
      margin-top: 20px;
      text-align: center;

      & h3 {
        color: var(--white-color);
        font-weight: var(--font-semi-bold);
        font-size: 1.4em;
        letter-spacing: 2px;
      }

      & p {
        color: var(--white-color);
      }
    }

    &-button {
      cursor: pointer;
      display: inline-block;
      padding: 10px 20px;
      margin-top: 15px;
      border-radius: 40px;
      color: var(--white-color);
      font-size: 16px;
      text-decoration: none;

      &:hover {
        box-shadow: -4px -4px 10px #2e3a52, 4px 4px 10px rgba(0, 0, 0, 0.1);
      }
    }
  }
}

/*=============== TESTIMONIALS ===============*/
.testimonials {
  &__container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px 20px;
  }

  &__item {
    background: transparent;
    transition: 0.4s ease-in;

    &-content {
      color: var(--white-color);
      text-align: center;
      margin-bottom: 20px;
    }

    &-video {
      position: relative;
      margin: auto;
      width: 320px;

      & iframe {
        width: 100%;
        height: 100%;
      }
    }
  }
}

/*=============== FOOTER ===============*/
.footer {
  position: relative;
  background-image: url(../img/footer.webp);
  background-color: rgba(0, 0, 0, 0.6);
  background-size: cover;
  background-position: center center;
  background-blend-mode: soft-light;
  height: 400px;
  margin-top: 100px;

  &__container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: var(--white-color);

    & h3 {
      font-size: 1.6rem;
    }

    & a {
      color: var(--white-color);
      text-decoration: none;
      font-size: var(--h2-font-size) !important;
      margin-top: 20px;
    }
  }
}

/*===============  BREAKPOINTS ===============*/
@media screen and (max-width: 320px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }
}

@media screen and (min-width: 767px) {
  .section {
    padding: 7rem 0 2rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);

    &__img,
    &__close,
    &__toggle {
      display: none;
    }

    &__list {
      flex-direction: row;
      column-gap: 3rem;
    }

    &__link {
      text-transform: initial;
      font-weight: initial;
    }
  }

  .home {
    &__banner {
      & h3 {
        font-size: 100px;
      }

      & h2 {
        font-size: 3em;
      }
    }
  }

  .about {
    &__box {
      height: 420px;
    }
  }

  .banner {
    & h3 {
      font-size: 60px;
    }

    & p {
      font-size: 20px;
    }
  }

  .testimonials {
    &__item {
      &-video {
        position: relative;
        width: 560px;
        height: 315px;

        & iframe {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .footer {
    &__container {
      & h3 {
        font-size: var(--h1-font-size) !important;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .section__title {
    font-size: var(--biggest-font-size) !important;
  }
}
